html
{
  font-family: "Times New Roman";
}
h1
{
  color: aqua;
  
}
ol
{
 font-size: 20px;
 background-color: AliceBlue;
}
li
{
  border-style:solid;border-color:black;
}
type="submit"
{
  background-color: Orange;
}
