.header {
  color: blue; background-color: #f1f1f1 ;
text-align: center; padding: 40px;
        }
.tngang {
  background-color: #333; padding: 20px;
        }
.tngang a{
       color: green;
        }
.tngang a: hover{background-color: white; color: blue;}
.noidung{
  background-color: grey;
}
